# Plugin
.dockerignore
.env
.github
.gitignore
.nvmrc
.prettierrc
config
compose.yml
cypress
cypress.config.ts
data
dist
Dockerfile
eslint.config.mts
jest.config.js
LICENSE
node_modules
README.md
scripts

# Playground
playground/.strapi
playground/.strapi-updater.json
playground/.tmp
playground/.yalc
playground/dist
playground/node_modules
playground/yalc.lock
